<body>
<form method="post" action="/main_page_s">
<h2>Create una cuenta!</h2>
                    
</br>Usuario:<input class="textbox" type="text" name="username" /></br>

</br>Contraseña:<input class="textbox" type="password" name="password" /></br>

</br>
</br><input class="boton" type="submit" value="Sign in"/></br>

</form>
</body>
